<nav
  class="relative flex w-full flex-wrap items-center justify-between bg-purple-800 py-2 text-neutral-500 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 lg:py-4"
>
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <div>
      <a
        class="my-1 mr-2 flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 lg:mb-0 lg:mt-0"
        href="#"
      >
        <img
          class="mr-4"
          src=".../../../../../assets/logoAxity.png"
          style="height: 60px"
          alt=""
          loading="lazy"
        />
        <p class="text-xl font-semibold text-gray-100 dark:text-neutral-200">
          Converter App
        </p>
      </a>
    </div>
  </div>
</nav>
