<main class="container mt-5 mx-auto">
  <div class="max-w-xl mx-auto mb-8">
    <label
      for="first_name"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Enter amount</label
    >
    <input
      type="number"
      id="first_name"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Example: 1000"
      [(ngModel)]="amount"
      (input)="transform()"
      required
    />
  </div>
  <div class="flex max-w-xl mx-auto justify-center gap-5">
    <div class="w-1/2">
      <label
        for="countries"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Select a currency</label
      >
      <select
        id="countries"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [(ngModel)]="currencyActual"
        (change)="transform()"
      >
        <option disabled selected>Currency</option>
        <option *ngFor="let coin of coins" [value]="coin.id">
          {{ coin.currency }}
        </option>
      </select>
    </div>

    <div class="w-1/2">
      <label
        for="countries"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Select a currency</label
      >
      <select
        id="countries"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [(ngModel)]="currencyTransform"
        (change)="transform()"
      >
        <option disabled selected>Currency</option>
        <option *ngFor="let coin of coins" [value]="coin.id">
          {{ coin.currency }}
        </option>
      </select>
    </div>
  </div>

  <div
    class="flex gap-x-10 justify-center mt-5 shadow-lg w-1/2 mx-auto border rounded-lg py-2"
  >
    <div class="bg-gray-200 p-2 rounded-md">
      {{ amount }} {{ currencyActual }}
    </div>
    <div class="p-2 font-semibold">TO</div>
    <div class="bg-black text-white p-2 rounded-md">
      {{ convert }} {{ currencyTransform }}
    </div>
  </div>
</main>
